.git
.github
.claude
.playwright-mcp
.DS_Store

**/.env
**/.env.*
**/*.pem
**/*.log
**/*.tsbuildinfo
**/node_modules
**/.next
**/out
**/dist
**/bin
**/coverage
**/playwright-report
**/test-results

**/AGENTS.md
**/CLAUDE.md
